{% extends "base.html" %}

{% block title %}Recipe Creation{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

  	<h2>Create Recipe</h2>

	<div id="recipe-form-container">

		<form
			hx-post="{% url 'recipe_create' %}"
			hx-target="#recipe-form-container"
		>
			{% csrf_token %}
			{{ form.as_p }}
			
			<section name="api_search_bar">
				{% include "partials/api_search_bar.html" %}
			</section>
			
			<input type="hidden" name="foods" value="{{ food.pk }}">
			<!-- list maintains all recipe's foods -->
			<div id="food_list">
            	{% include "partials/food_list.html" with foods=recipe.foods.all %}
        	</div>

			<hr/>

			<button type="submit">Post Recipe</button>

		</form>

	</div>
    
    <form method="GET">
    	<button type="submit", formaction="{% url 'recipe_list' %}">Return Home</button>
    </form>

{% else %}

	<p>Please login to create new recipes</p>

	<form method="GET">
		<button type="submit", formaction="{% url 'log_auth' %}">Login/Signup</button>
	</form>

{% endif %}

{% endblock %}