{% extends "base.html" %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}
<div>
	{% if request.user.is_authenticated and request.user == recipe.author %}
		<h2>Edit Recipe</h2>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Save</button>
			</form>
			
			<form method="GET">
				{% csrf_token %}
				<button type="submit", formaction="{% url 'recipe_confirm_delete' recipe.pk %}">Delete Recipe</button>
			</form>

			<script>
				var name = "{{user.id}}";
				document.getElementById("author_name_field").value = name;
			</script>

			<form method="GET">
				<button type="submit", formaction="{% url 'recipe_list' %}">Return Home</button>
			</form>
	{% elif request.user.is_authenticated %}
		<h2>Only the recipe's chef can edit!</h2>
		<form method="GET">
			<button type="submit", formaction="{% url 'recipe_list' %}">Return Home</button>
		</form>
  	{% else %}
		<p>Please login to edit recipes</p>
		<form method="GET">
			<button type="submit", formaction="{% url 'log_auth' %}">Login/Signup</button>
		</form>
  	{% endif %}
</div>
{% endblock %}