{% extends "base.html" %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}

{% if request.user.is_authenticated and request.user == recipe.author %}

    <h2>Edit Recipe</h2>

    <form
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'recipe_edit' recipe.pk %}"
    >
        {% csrf_token %}

        {{ form.as_p }}

        <hr>
		<h3>Add Ingredients </h3>
        <!-- USDA search -->
        	{% include "partials/api_search_bar_edit.html" %}
        <br>

        <h3>Ingredients</h3>

        <!-- Existing recipe ingredients -->
        <div id="food_list">
            {% include "partials/food_list_edit.html" with ingredients=recipe.ingredients.all %}
        </div>
		

        <button type="submit">
            Save Recipe
        </button>
    </form>


    <hr>

    <form method="GET">
        <button
            type="submit"
            formaction="{% url 'recipe_confirm_delete' recipe.pk %}"
        >
            Delete Recipe
        </button>
    </form>


    <form method="GET">
        <button
            type="submit"
            formaction="{% url 'recipe_list' %}"
        >
            Return Home
        </button>
    </form>


{% elif request.user.is_authenticated %}

    <h2>Only the recipe's chef can edit!</h2>

    <form method="GET">
        <button
            type="submit"
            formaction="{% url 'recipe_list' %}"
        >
            Return Home
        </button>
    </form>


{% else %}

    <p>Please login to edit recipes</p>

    <form method="GET">
        <button
            type="submit"
            formaction="{% url 'log_auth' %}"
        >
            Login/Signup
        </button>
    </form>

{% endif %}

{% endblock %}