<div id="api_search_bar">
    <!-- searches with existing food in mind -->
    <label for="food-search">
        Search for an ingredient
    </label>

    <input
        id="food-search"
        type="text"
        name="foodname"
        class="form-control"
        placeholder="Enter ingredient name"

        hx-get="{% url 'search_food_edit' recipe.pk %}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#food_search_results"
        hx-swap="innerHTML"
    >
    
    <div id="food_search_results">
        {% include "partials/food_search_results_edit.html" %}
    </div>

</div>