<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title %}Base page{% endblock %}</title>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
</head>

<body>
	<main>
		{% block content %}
		{% endblock %}
		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = "{{ csrf_token }}"; 
			})
		</script>
	</main>
</body>

</html>