{% extends "base.html" %}

{% block title %}Search Ingredient{% endblock %}

{% block content %}
<div class="align-center col-10 offset-1">
    <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">My Ingredients</p>
        <form class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="foodname" class="form-control-sm mr-2" placeholder="Enter Ingredient Name" /> 
            <button hx-post="{% url 'add_food' %}" hx-target="#food_list" type="submit" class="btn btn-success btn-sm">Add Ingredient</button>
        </form>
    </div>

    <hr/>
    <div id="food_list">
        {% include 'partials/food_list.html' %}
    </div>
</div>

{% endblock %}