<h1>Recipe Instructions</h1>
<div>
  <h2>{{ object.title }}</h2>
  <p>Cooked by: {{ object.author }}</p>
  <p>Published: {{ object.published }}</p>
  {% if object.cover  %}
    <img src="{{ object.cover.url }}" alt="{{ object.title }}">
  {% endif %}
  <p>{{ object.description }}</p>
  <p>{{ object.content }}</p>
  {% if object.author.id == request.user.id %}
    <form method="get">
      <button type="submit", formaction="{% url 'post_edit' post.id %}">Edit Recipe</button>
    </form>
  {% endif %}
</div>
<form method="get">
  <button type="submit", formaction="{% url 'post_list' %}">Return Home</button>
</form>