{% extends "base.html" %}

{% block title %}Rating Update{% endblock %}

{% block content %}
<div>
    {% if request.user.is_authenticated and request.user == rating.user %}
        <h2>Update Rating</h2>
			<p>Current rating: {{request.Rating.score}}</p>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Save</button>
			</form>
			<form method="get">
				<button type="submit", formaction="{% url 'post_list' %}">Return Home</button>
			</form>
    {% endif %}
<p>Please login to edit recipes</p>
	<form method="get">
		<button type="submit", formaction="{% url 'log_auth' %}">Login/Signup</button>
	</form>
</div>
{% endblock %}