{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Update Password</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update Password</button>
        </form>
    </div>
{% else %}
    <h1>You are not logged in</h1>
    <div class="form-group">
		<form method="get">
			<button type="submit", formaction="{% url 'log_auth' %}">Login/Signup</button>
		</form>
	</div>
{% endif %}
{% endblock %}