{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<div class="form-group">
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<button type="submit">Log In</button>
	</form>
</div>

<div class="form-group">
	<h3>New? Sign up!
		<form method="get">
			<button type="submit", formaction="{% url 'signup' %}">Signup</button>
		</form>
	</h3>
</div>

<div class="form-group">
	<h3>Admins
		<form method="get">
			<button type="submit", formaction="/admin">Admin Portal</button>
		</form>
	</h3>
</div>

<div class="form-group">
	<form method="get">
		<button type="submit", formaction="{% url 'post_list' %}">Return Home</button>
	</form>
</div>
{% endblock %}