{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Log In</button>
</form>
<p>New? Sign up
<form method="get">
  <button type="submit", formaction="{% url 'signup' %}">Signup</button>
</form>
</p>
<p>Admins
<form method="get">
  <button type="submit", formaction="/admin">Admin Portal</button>
</form>
</p>
<form method="get">
  <button type="submit", formaction="{% url 'post_list' %}">Return Home</button>
</form>
{% endblock %}