{% extends "base.html" %}

{% block title %}Password Updated{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>Updated Password Successfuly!</h2>
    <div class="form-group">
        <form method="get">
            <button type="submit", formaction="{% url 'post_list' %}">Return Home</button>
        </form>
    </div>
{% else %}
    <h2>You are not logged in</h2>
    <div class="form-group"></div>
        <form method="get">
            <button type="submit", formaction="{% url 'login' %}">Log In</button>
        </form>
    </div>
{% endif %}
{% endblock %}